button{
    background-color: #fff;
    padding: 2px;
}
.btnstyle{
    display: block;
  width: 100%;
  border: none;
  background-color: gray;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
    
}
#main1{
    height: 100px;
    width: 500px;
}
.cell{
    display: inline-block;
    width: 30%;
    background-color: blueviolet;
    color: white;
    margin: 1px;
    text-align: center;  
}
#inpid{
    width:200px;
    font-size:14pt;
}
